In [1]:
import budget_data

ModuleNotFoundError: No module named 'budget_data'

In [2]:
#Importing csv

In [14]:
path = "budget_data.csv"

In [16]:
pd.read_csv(path)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [17]:
from pathlib import Path

#Total number of months included in the database

In [52]:
len(df)

86

#Net total amount of profit/losses over entire period

In [18]:
profit_losses={'867884':True,'984655':True}

In [19]:
profit_losses

{'867884': True, '984655': True}

In [20]:
date={'Jan-2010':True}

In [21]:
date

{'Jan-2010': True}

#The greatest increase in profits (date and amount) over the entire period.

#The greatest decrease in losses (date and amount) over the entire period.

In [47]:
df["Profit/Losses"].max(),df["Profit/Losses"].min()

(1170593, -1196225)